@page "/"

<section
    class="relative bg-gradient-to-br from-[#79FAF3] from-0% via-[#3C92F9] via-37% to-[#0F3CAE] to-100% mix-blend-normal w-full h-auto flex justify-center">
    <li class="absolute bg-[#000F33] mix-blend-hard-light w-full h-full list-none" />
    <li class="absolute top-0 min-w-full h-full bg-no-repeat bg-top bg-cover bg-fixed mix-blend-screen xl:bg-scroll xl:bg-contain xl:min-w-[70%] list-none"
        style="background-image: url('/images/Backgrounds/Aegis.png');" />
    <li class="relative list-none">
        <article>
            HELLO<br />
            HELLO<br />
            HELLO<br />
            HELLO<br />
            HELLO<br />
            HELLO<br />
            HELLO<br />
        </article>
    </li>
</section>