* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: Montserrat;
  font-size: 20px;
  box-sizing: border-box;
}

.aegis-home-layout {
  width: 100vw;
  height: auto;
}

.aegis-brightness-mode {
  position: fixed;
  bottom: 1.5rem;
  right: 17.8rem;
  max-width: 1250px;
  background-color: transparent;
  z-index: 10;
  cursor: pointer;
}

.aegis-brightness-mode img {
  max-width: 100%;
  height: auto;
}

.aegis-first-background-layout {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #001e66;
}

.aegis-header {
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  height: 5.5rem;
  overflow: hidden;
  padding: 3rem min(7.5vw, 96px) 0 min(7.5vw, 96px);
}

.aegis-header img {
  float: left;
  vertical-align: middle;
  height: 100%;
  width: 10rem;
  margin-right: 1rem;
}

.aegis-header-menu {
  float: left;
  position: relative;
  text-align: center;
  height: 100%;
  width: calc(100% - 11rem - 10rem);
}

.aegis-header-menu h6 {
  position: relative;
  font-weight: 500;
  font-size: 0.8rem;
  color: white;
  letter-spacing: 0.1rem;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: 0 1rem;
  top: calc(50% - 0.8rem);
}

.aegis-header-menu h6::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.4rem;
  background-image: linear-gradient(
    90deg,
    #79faf3 0%,
    #3c92f9 63%,
    #0f3cae 100%
  );
  left: -1.5rem;
  bottom: -1.25rem;
  padding: 0 1.5rem;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.aegis-header-menu h6:hover::after {
  transform: scaleX(1);
}

.aegis-header-button-container {
  position: relative;
  float: left;
  vertical-align: middle;
  height: 100%;
  width: 9rem;
  margin-left: 1rem;
  border: none;
  border-radius: 50em;
  overflow: hidden;
  cursor: pointer;
  background-image: linear-gradient(
    135deg,
    #79faf3 0%,
    #3c92f9 37%,
    #0f3cae 100%
  );
}

.aegis-header-button-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 98.5%;
  height: 94%;
  background-color: #001e66;
  border-radius: inherit;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.aegis-header-button-container span {
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 0.8rem;
  color: white;
  text-align: center;
  letter-spacing: 0.1rem;
}

/* Aegis Home Text */

.aegis-home-text {
  position: relative;
  height: auto;
  z-index: 2;
  max-width: 1280px;
  width: 100%;
  text-align: center;
  margin: 11.7rem auto 0 auto;
  padding: 0 min(7.5vw, 96px);
}

.aegis-home-text h1 {
  font-size: 3.5rem;
  color: white;
  font-weight: 600;
  line-height: 3rem;
}

.aegis-home-text p {
  margin-top: 4rem;
  font-size: 0.95rem;
  font-weight: 300;
  color: white;
  letter-spacing: 0.02rem;
}

.aegis-home-text button {
  position: relative;
  margin-top: 3rem;
  padding: 0.45rem 0.4rem;
  background-image: linear-gradient(
    135deg,
    #79faf3 0%,
    #3c92f9 37%,
    #0f3cae 100%
  );
  border: none;
  border-radius: 50em;
  overflow: hidden;
  cursor: pointer;
}

.aegis-home-text button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 99%;
  height: 95%;
  background-color: white;
  border-radius: inherit;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.aegis-home-text button span {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0.25rem 0.4rem;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.aegis-home-text span {
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.03rem;
}

.aegis-first-background-layout-image {
  position: absolute;
  z-index: 1;
  top: 0;
  background-image: url("../Assets/Backgrounds/AegisBackground2.png");
  height: 100%;
  width: 100%;
  margin: 7rem auto 0 auto;
  left: 0;
  right: 0;
  max-width: 1280px;
  opacity: 20%;
  background-repeat: no-repeat;
  background-position: center 45%;
  background-size: 73% 100%;
  mix-blend-mode: screen;
}

.aegis-first-background-bottom-curve {
  position: relative;
  background-image: url("../Assets/Backgrounds/AegisFirstBackgroundCurve.svg");
  height: 45vh;
  width: 100vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 2000px) {
  .aegis-first-background-layout {
    height: auto;
  }
  .aegis-first-background-layout-image {
    height: 80%;
    margin-top: 10rem;
    background-position: center;
    background-size: contain;
  }
  .aegis-first-background-bottom-curve {
    height: 7vh;
  }
}

.aegis-second-background-layout {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  padding: 0 min(7.5vw, 96px);
  margin-top: 3rem;
}

.aegis-second-background-layout li {
  float: left;
  list-style: none;
  width: 32%;
  overflow: auto;
}

.aegis-second-background-layout li:nth-child(1) {
  height: 18.1rem;
}

.aegis-second-background-layout li:nth-child(1) h3 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #323e59;
}

.aegis-second-background-layout li:nth-child(1) p {
  line-height: 1.5rem;
  word-wrap: break-word;
  font-size: 0.95rem;
  margin-top: 1.25rem;
  color: #4d5465;
  text-align: left;
}

.aegis-second-background-layout li:nth-child(1) div {
  margin-top: 1rem;
}

.aegis-second-background-layout li:nth-child(1) div span {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.75rem;
  font-weight: 600;
  margin-right: 0.15rem;
  line-height: 1.5rem;
  color: #323e59;
}

.aegis-second-background-layout li:nth-child(1) div img {
  display: inline-block;
  vertical-align: middle;
  height: 1.7rem;
  max-width: auto;
  object-fit: contain;
}

.aegis-second-background-layout li:nth-child(4) {
  clear: left;
}

.aegis-second-background-layout li:nth-child(n + 2):nth-child(-n + 6) {
  background-color: #f9f9f9;
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem 0 0 1.5rem;
  height: 14rem;
}

.aegis-second-background-layout li:nth-child(n + 2):nth-child(-n + 6) img {
  max-height: 100%;
  height: 2.25rem;
  max-width: auto;
  object-fit: contain;
}

.aegis-second-background-layout li:nth-child(n + 2):nth-child(-n + 6) h6 {
  color: #323e59;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 1rem;
}

.aegis-second-background-layout li:nth-child(n + 2):nth-child(-n + 6) p {
  word-wrap: break-word;
  font-size: 0.9rem;
  margin-right: 0.15rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  color: #4d5465;
  text-align: left;
}

.aegis-second-background-layout li:nth-child(n + 2):nth-child(-n + 3) {
  margin-top: 4.1rem;
}

.aegis-second-background-layout li:nth-child(n + 2):nth-child(-n + 3),
.aegis-second-background-layout li:nth-child(n + 5):nth-child(-n + 6) {
  margin-left: 2%;
}

.aegis-second-background-layout li:nth-child(n + 4):nth-child(-n + 6) {
  margin-top: 1rem;
}

.aegis-third-background-layout-top-curve {
  background-image: url("../Assets/Backgrounds/AegisThirdBackgroundTopCurve.svg");
  width: 100vw;
  height: 45vh;
  margin-top: 3rem;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.aegis-third-background-layout-bottom-curve {
  position: relative;
  background-image: url("../Assets/Backgrounds/AegisThirdBackgroundBottomCurve.svg");
  height: 45vh;
  width: 100vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 2000px) {
  .aegis-third-background-layout-top-curve {
    height: 10vh;
  }
  .aegis-third-background-layout-bottom-curve {
    height: 15vh;
  }
}

.aegis-third-background-layout {
  background-color: #000f33;
  width: 100%;
}

.aegis-third-background-layout-items {
  height: auto;
  width: 100%;
  max-width: 1280px;
  padding: 0 min(7.5vw, 96px);
  margin: 0 auto;
  padding-bottom: 6rem;
  white-space: nowrap;
  text-align: left;
}

.aegis-third-background-layout-items article {
  display: inline-block;
  vertical-align: top;
  width: 15rem;
  white-space: normal;
}

.aegis-third-background-layout-items article h3 {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.aegis-third-background-layout-items article p {
  line-height: 1.5rem;
  word-wrap: break-word;
  font-size: 0.9rem;
  margin-top: 2rem;
  color: white;
  text-align: left;
}

.aegis-third-background-layout-items article div {
  text-align: left;
  height: auto;
  width: auto;
  margin-top: 2rem;
}

.aegis-third-background-layout-items article div span {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-right: 0.15rem;
  color: white;
}

.aegis-third-background-layout-items article div img {
  display: inline-block;
  vertical-align: middle;
  height: 1.5rem;
  max-width: auto;
  object-fit: contain;
}

.aegis-scroll-images {
  position: absolute;
  width: 100%;
  margin-top: 10rem;
  display: block;
  text-align: center;
}

.aegis-scroll-images li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.aegis-scroll-images span:nth-child(1) {
  display: inline-block;
  vertical-align: middle;
  height: 1.25rem;
  width: 1.25rem;
  background-color: white;
  border-radius: 1rem;
}

.aegis-scroll-images span:nth-child(n + 2) {
  display: inline-block;
  vertical-align: middle;
  height: 0.75rem;
  width: 0.75rem;
  background-color: #495b83;
  border-radius: 1rem;
  margin-left: 1rem;
}

.aegis-third-background-layout-items li:nth-child(2) {
  position: relative;
  display: inline-block;
  background-color: white;
  vertical-align: middle;
  white-space: normal;
  width: 20rem;
  margin-left: 2%;
  height: 28rem;
  border-radius: 3%;
}

.aegis-third-background-layout-items li:nth-child(2) img {
  max-height: 100%;
  height: 6.5rem;
  max-width: auto;
  object-fit: contain;
  margin: 2rem 1.5rem 0 2rem;
}

.aegis-third-background-layout-items li:nth-child(2) h6 {
  color: #323e59;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.5rem 1.5rem 0 2rem;
}

.aegis-third-background-layout-items li:nth-child(2) p {
  line-height: 1.5rem;
  word-wrap: break-word;
  font-size: 0.9rem;
  color: #323e59;
  text-align: left;
  margin: 1rem 1.5rem 0 2rem;
}

.aegis-scroll-images {
  position: absolute;
  width: 100%;
  margin-top: 10rem;
  display: block;
  text-align: center;
}

.aegis-scroll-images li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.aegis-scroll-images span:nth-child(1) {
  display: inline-block;
  vertical-align: middle;
  height: 1.25rem;
  width: 1.25rem;
  background-color: white;
  border-radius: 1rem;
}

.aegis-scroll-images span:nth-child(n + 2) {
  display: inline-block;
  vertical-align: middle;
  height: 0.75rem;
  width: 0.75rem;
  background-color: #495b83;
  border-radius: 1rem;
  margin-left: 1rem;
}

.aegis-third-background-layout-items li:nth-child(n + 3) {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  background-color: white;
  opacity: 0.4;
  width: 16rem;
  height: 21rem;
  margin-left: 2%;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 3%;
}

.aegis-third-background-layout-items li:nth-child(n + 3) img {
  max-height: 100%;
  height: 4.5rem;
  max-width: auto;
  object-fit: contain;
}

.aegis-third-background-layout-items li:nth-child(n + 3) h6 {
  color: #323e59;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1.1rem;
}

.aegis-third-background-layout-items li:nth-child(n + 3) p {
  line-height: 1rem;
  word-wrap: break-word;
  font-size: 0.7rem;
  margin-top: 1rem;
  color: #323e59;
  text-align: left;
}

.aegis-third-background-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.aegis-third-background-text h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #323e59;
}

.aegis-third-background-text p {
  font-size: 1rem;
  margin-top: 2rem;
  line-height: 1.5rem;
  word-wrap: break-word;
  color: #4d5465;
  text-align: center;
}

.aegis-fourth-background-layout {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  padding: 0 min(7.5vw, 96px);
  margin-top: 3rem;
}

.aegis-fourth-background-layout-time-container {
  float: right;
  position: relative;
  width: 70%;
  height: 25rem;
  background-color: #0f3cae;
  text-align: left;
  border-radius: 1rem;
  margin-left: 5%;
}

.aegis-fourth-background-layout-time-container-background {
  position: absolute;
  background-image: url("../Assets/Backgrounds/aegis-fourth-background-time-container.svg");
  height: 100%;
  width: 100%;
  background-size: 90% 93%;
  background-repeat: no-repeat;
  background-position: bottom left;
  bottom: 0;
  padding: 5rem 0 0 3rem;
}
.aegis-fourth-background-layout-time-container-background img {
  height: 2.5rem;
  object-fit: contain;
}

.aegis-fourth-background-layout-time-container-background h3 {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  margin-top: 1.5rem;
}

.aegis-fourth-background-layout-time-container-background span {
  color: white;
  display: block;
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 1.5rem;
}

.aegis-fourth-background-layout-time-container-background p {
  line-height: 1.1rem;
  word-wrap: break-word;
  font-size: 0.9rem;
  font-weight: 300;
  color: white;
  margin-top: 1.5rem;
}

.aegis-fourth-background-layout-timeline-information {
  float: right;
  height: 25rem;
  width: 25%;
  text-align: right;
}

.aegis-fourth-background-layout-timeline-information li:nth-child(-n + 5) {
  margin-bottom: calc(17rem / 5);
  list-style-type: none;
}

.aegis-fourth-background-layout-timeline-information li:nth-child(-n + 5) span {
  display: inline-block;
  width: 50%;
  font-size: 1rem;
}

.aegis-fourth-background-layout-timeline-information li:nth-child(-n + 5) div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 0.75rem;
  width: 0.75rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
  margin: 0 calc((1.25rem - 0.75rem) / 2) 0 calc((1.25rem - 0.75rem) / 2 + 1rem);
}

.aegis-fourth-background-layout-timeline-information
  li:nth-child(-n + 5)
  div::after {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  height: 5rem;
  width: 0.01rem;
  z-index: -1;
}

.aegis-fourth-background-layout-timeline-information li:nth-child(6) {
  list-style-type: none;
}

.aegis-fourth-background-layout-timeline-information li:nth-child(6) span {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
}
.aegis-fourth-background-layout-timeline-information li:nth-child(6) div {
  display: inline-block;
  vertical-align: middle;
  height: 1.25rem;
  width: 1.25rem;
  background-color: #0033ad;
  border-radius: 1rem;
  margin-left: 1rem;
}

.aegis-fourth-background-tokenomics {
  width: 100%;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  background-color: #f9f9f9;
  border-radius: 1rem;
  padding: 3rem;
}

.aegis-fourth-background-tokenomics-title {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  color: #323e59;
  margin-bottom: 3rem;
  text-align: center;
}

.aegis-fourth-background-tokenomics-wheel {
  position: relative;
  float: left;
  text-align: center;
  background-image: url("../Assets/Backgrounds/aegis-fourth-background-tokenomics.svg");
  object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 55%;
  height: 27rem;
}

.aegis-fourth-background-tokenomics-wheel div {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.aegis-fourth-background-tokenomics-wheel h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #323e59;
  margin: 0.75rem 0;
}

.aegis-fourth-background-tokenomics-text {
  position: relative;
  float: left;
  vertical-align: middle;
  height: 24rem;
  width: 35%;
  top: 1.5rem;
  margin-left: 10%;
}

.aegis-fourth-background-tokenomics-text li {
  list-style-type: none;
  height: auto;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #2f55b7;
  border-bottom: 0.05rem solid #2f55b7;
  overflow: auto;
  text-align: left;
}

.aegis-fourth-background-tokenomics-text li h6:nth-child(n + 1) {
  float: left;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: #323e59;
}
.aegis-fourth-background-tokenomics-text li h6:nth-child(1) {
  width: 3rem;
}

.aegis-fourth-background-tokenomics-text li:nth-child(1) h6:nth-child(1) {
  color: #0f3cae;
}

.aegis-fourth-background-tokenomics-text li:nth-child(2) h6:nth-child(1) {
  color: #517ff3;
}

.aegis-fourth-background-tokenomics-text li:nth-child(3) h6:nth-child(1) {
  color: #a5d0e8;
}

.aegis-fourth-background-tokenomics-text li:nth-child(4) h6:nth-child(1) {
  color: #e9dc94;
}

.aegis-fourth-background-tokenomics-text li:nth-child(5) h6:nth-child(1) {
  color: #9747ff;
}

.aegis-fourth-background-tokenomics-text li h6:nth-child(2) {
  width: calc(100% - 8rem);
}

.aegis-fourth-background-tokenomics-text li p:nth-child(3) {
  float: right;
  width: 5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: #323e59;
}

.aegis-fourth-background-tokenomics-text li p:nth-child(4) {
  float: left;
  clear: right;
  font-size: 0.8rem;
  color: #323e59;
}

.aegis-fourth-background-tokenomics-text li span {
  float: right;
  font-size: 0.8rem;
  color: #323e59;
  width: 5rem;
}
