/* I switched to using hyphens as delimiters because it was 
difficult for me to provide class names for the elements.

Breakpoint prefix	Minimum width	CSS
sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... }

Mobile First Approach

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: Montserrat;
  font-size: 20px;
  box-sizing: border-box;
}

/* iPads, Tablets */
@media (min-width: 481px) {
  html {
    font-size: 22px;
  }
}

/* Small screens, laptops */
@media (min-width: 769px) {
  html {
    font-size: 24px;
  }
}

/* Desktops, large screens */
@media (min-width: 1025px) {
  html {
    font-size: 26px;
  }
}

/* Extra large screens, TV */
@media (min-width: 1201px) {
  html {
    font-size: 28px;
  }
}

.aegis-home-layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

/* First Background Layout */
.aegis-first-background-layout {
  position: relative;
  background-image: linear-gradient(
    180deg,
    #79faf3 0%,
    #3c92f9 37%,
    #0f3cae 100%
  );
  mix-blend-mode: normal;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aegis-first-background-layout-blend {
  position: absolute;
  background-color: #000f33;
  mix-blend-mode: hard-light;
  width: 100%;
  height: 100%;
}

.aegis-first-background-layout-image {
  position: absolute;
  top: 0;
  background-image: url("../Assets/Backgrounds/AegisTest.png");
  object-fit: cover;
  min-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  mix-blend-mode: screen;
}

.aegis-first-background-layout-union {
  display: none;
}

@media (min-width: 1280px) {
  .aegis-first-background-layout-image {
    min-width: 75%;
    background-attachment: scroll;
    background-size: contain;
  }

  .aegis-first-background-layout-union {
    display: block;
    position: absolute;
    top: 0;
    background-image: url("../Assets/Backgrounds/Union.png");
    object-fit: cover;
    min-width: 100vw;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    mix-blend-mode: normal;
    opacity: 0.4;
  }
}

/* Background container */
.background-container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Nav Bar CSS props */
.aegis-header {
  position: relative;
  margin-top: 1.5rem;
  height: 10vh;
  width: 85%;
}

@media (min-height: 912px) {
  .aegis-header {
    height: 3.5rem;
  }
}

.aegis-nav-bar {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aegis-nav-logo {
  position: relative;
  height: 50%;
  width: auto;
}

.aegis-nav-menu {
  display: none;
}

.aegis-nav-button-container {
  display: none;
}

.burger-icon {
  display: block;
  cursor: pointer;
  height: 50%;
  width: 50%;
  background: none;
  display: flex;
  justify-content: flex-end;
}

.aegis-nav-logo img,
.burger-icon img {
  height: 10rem;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

@media (min-width: 768px) {
  .aegis-nav-logo {
    width: auto;
  }

  .aegis-nav-menu {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .aegis-nav-menu h6 {
    position: relative;
    font-weight: normal;
    font-size: 0.5rem;
    color: white;
    letter-spacing: 0.1rem;
    text-align: center;
    cursor: pointer;
    padding: 0 0.4rem;
  }

  .aegis-nav-menu h6::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: 0.05rem;
    background: transparent;
  }

  .aegis-nav-menu h6:hover::after {
    background: linear-gradient(90deg, #79faf3 0%, #3c92f9 63%, #0f3cae 100%);
  }

  .aegis-nav-button-container {
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: auto;
    width: auto;
  }

  .aegis-nav-button-container span {
    display: inline;
    font-size: 0.5rem;
    color: white;
    text-align: center;
    letter-spacing: 0.1rem;
  }

  .aegis-nav-button-container button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.35rem 0.6rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .aegis-nav-button-container button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50em;
    border: 0.05rem solid transparent;
    background: linear-gradient(135deg, #79faf3 0%, #3c92f9 37%, #0f3cae 100%)
      border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  .burger-icon {
    display: none;
  }
}

@media (min-width: 1024px) {
  .aegis-nav-menu {
    gap: 1rem;
  }
}

/* First Background Home Text */
.aegis-home-text {
  position: relative;
  height: 90vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (min-height: 940px) {
  .aegis-home-text {
    margin-top: 8.5rem;
    height: auto;
  }
}

.aegis-home-text h1 {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 2.85rem;
  font-weight: 600;
  line-height: 2.5rem;
}

@media (max-width: 640px) {
  .aegis-home-text h1 {
    font-size: 2rem;
  }
}

.aegis-home-text p {
  width: 80%;
  margin-top: 2rem;
}

.aegis-home-text p,
span {
  display: inline;
  color: white;
  text-align: center;
}

.aegis-home-text span {
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}

.aegis-home-text p {
  font-weight: 300;
  font-size: 0.73rem;
  letter-spacing: 0.02rem;
}

.aegis-home-text button {
  position: relative;
  width: auto;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.1rem 0rem 0.5rem 0rem;
  background-color: transparent;
  border: 0.05rem solid;
  border-radius: 50em;
  border-color: #94bff4;
  box-shadow: 0px 2px 7px -3px rgba(255, 255, 255, 255);
  cursor: pointer;
}

/* First Background Home Components */
.aegis-home-containers {
  position: relative;
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8.5rem 0rem;
}

.parent-small-containers {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small-containers,
.large-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 0rem 1rem 0rem;
}

.small-containers {
  height: 8rem;
  border: 0.05rem solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.5rem;
  justify-content: space-between;
}

.large-containers {
  height: 12rem;
  width: 100%;
  border: 0.05rem transparent;
  border-radius: 0.5rem;
  background-image: linear-gradient(180deg, #3c92f9 0%, #0f3cae 100%);
  justify-content: space-around;
}

.small-containers span,
.large-containers span {
  width: 80%;
  text-align: left;
  font-weight: 600;
  padding: 0.75rem 0rem 0rem 0rem;
  height: 10%;
}

.small-containers img,
.large-containers img {
  max-height: 75%;
  width: 90%;
  object-fit: contain;
}

@media (min-width: 768px) {
  .aegis-home-containers {
    height: 16rem;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  .aegis-home-text button {
    min-width: 10rem;
  }

  .parent-small-containers {
    width: 32%;
    height: 100%;
  }

  .small-containers,
  .large-containers {
    margin: 0;
  }

  .small-containers {
    height: 48%;
  }

  .large-containers {
    height: 100%;
    width: 32%;
  }

  .small-containers img,
  .large-containers img {
    width: 75%;
  }

  .large-containers img {
    min-height: 80%;
  }
}

@media (min-width: 1024px) {
  .aegis-home-containers {
    margin: 9rem 0rem;
  }
}

/* Second Background Layout */
.aegis-second-background-layout {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  height: auto;
}

.second-home-orientation {
  margin-top: 3.5rem;
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .second-home-orientation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 4rem;
    width: 67%;
  }
}

/* Second Background Text */
.aegis-second-home-text {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 85%;
}

@media (min-width: 768px) {
  .aegis-second-home-text {
    height: auto;
    width: 38%;
  }
}

.aegis-second-home-text h3 {
  display: inline;
  font-size: 1.5rem;
  font-weight: 600;
}

.aegis-second-home-text p {
  line-height: 1.1rem;
  word-wrap: break-word;
  font-size: 0.6rem;
  margin-top: 1rem;
  color: #6f6969;
  text-align: left;
}

.aegis-second-learn-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20%;
  width: auto;
  margin-top: 1.5rem;
}

.aegis-second-learn-more img {
  max-height: 100%;
  height: 1.3rem;
  max-width: auto;
  object-fit: contain;
}

.aegis-second-learn-more h6 {
  font-size: 0.5rem;
  font-weight: 600;
  margin-right: 0.5rem;
}

/* Second Background Text */
.aegis-second-card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18rem;
  width: 80%;
  max-width: 12rem;
  margin-top: 2rem;
}

.aegis-second-card-back1 {
  transform: rotate(5deg);
  position: absolute;
  background-image: linear-gradient(180deg, #3c92f9 0%, #0f3cae 100%);
  border: 0.05rem transparent;
  border-radius: 0.5rem;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  left: 5%;
}

.aegis-second-card-back2 {
  transform: rotate(358deg);
  position: absolute;
  left: -0.5rem;
  background-image: linear-gradient(180deg, #3c92f9 0%, #0f3cae 100%);
  border: 0.05rem transparent;
  border-radius: 0.5rem;
  opacity: 0.6;
  height: 100%;
  width: 100%;
}

.aegis-second-card-front {
  position: absolute;
  background-image: linear-gradient(180deg, #3c92f9 0%, #0f3cae 100%);
  border: 0.05rem transparent;
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.aegis-second-card-front img {
  padding: 1rem;
  height: 7rem;
  width: auto;
  max-height: 100%;
  max-width: auto;
  object-fit: contain;
}

.aegis-second-card-front h4 {
  padding: 0 1rem 0 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.aegis-second-card-front p {
  line-height: 1.1rem;
  padding: 1rem 2rem 0 1rem;
  color: white;
  font-size: 0.6rem;
  text-align: left;
}

.aegis-second-card-front-lines {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: left;
  gap: 0.5rem;
}

.aegis-second-card-front-lines-large {
  width: 24%;
  height: 0.2rem;
  background-color: white;
  border: 0.05rem transparent;
  border-radius: 0.5rem;
}

.aegis-second-card-front-lines-small {
  width: 7%;
  height: 0.2rem;
  background-color: #2379e0;
  border: 0.05rem transparent;
  border-radius: 0.5rem;
}

@media (max-width: 426px) {
  .aegis-second-card-container {
    max-width: 80%;
    width: 80%;
  }
}

@media (min-width: 768px) {
  .aegis-second-card-container {
    width: 50%;
    max-width: none;
    margin-top: 0;
  }
}

/* Second Background FAQ */
.aegis-second-FAQ {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 6rem;
  background-color: #f9f9f9;
  height: auto;
  width: 67%;
  border: 0.05rem transparent;
  border-radius: 0.5rem;
  box-shadow: 0 -8px 18px rgba(136, 136, 136, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aegis-second-FAQ h3 {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: 1.5rem 0.5rem 0rem 0.5rem;
  font-weight: 600;
}

.aegis-second-FAQ-1 {
  display: flex;
  flex-direction: column;
  margin: 0rem 1.5rem 0rem 1.5rem;
  border-bottom: 0.05rem solid #e2e2e2;
}

.aegis-second-FAQ-1-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}

.aegis-second-FAQ-1-row h6 {
  font-size: 0.7rem;
}

.aegis-second-FAQ-1-row img {
  max-height: 100%;
  height: 1rem;
  max-width: auto;
  object-fit: contain;
}

.aegis-second-FAQ-1 p {
  padding-bottom: 1rem;
  line-height: 1.1rem;
  word-wrap: break-word;
  font-size: 0.6rem;
  color: #6f6969;
  text-align: left;
}

.aegis-second-FAQ-2 {
  display: flex;
  flex-direction: row;
  margin: 0rem 1.5rem 0rem 1.5rem;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  border-bottom: 0.05rem solid #e2e2e2;
}

.aegis-second-FAQ-2 h6 {
  font-size: 0.7rem;
}

.aegis-second-FAQ-2 img {
  max-height: 100%;
  height: 1rem;
  max-width: auto;
  object-fit: contain;
}

.aegis-second-FAQ-2 p {
  font-size: 0.6rem;
}

.aegis-second-FAQ-3 {
  display: flex;
  flex-direction: row;
  margin: 0rem 1.5rem 0rem 1.5rem;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}

.aegis-second-FAQ-3 img {
  max-height: 100%;
  height: 1rem;
  max-width: auto;
  object-fit: contain;
}

.aegis-second-FAQ-3 h6 {
  font-size: 0.7rem;
}

/* Third Background Layout */
.aegis-footer-layout {
  position: relative;
  background-color: #000f33;
  min-width: 100vw;
  height: auto;
}

.aegis-footer-blend {
  position: relative;
  top: 0;
  background-image: url("../Assets/Backgrounds/FooterBlur.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  height: auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.aegis-footer-text {
  position: relative;
  margin-top: 3rem;
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.aegis-footer-first-logo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.aegis-footer-first-third-section {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aegis-footer-second-text {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aegis-footer-third-text {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 764px) {
  .aegis-footer-second-text {
    display: inline-block;
  }
}

.aegis-footer-second-text h6,
.aegis-footer-third-text h6 {
  font-weight: 500;
  font-size: 0.6rem;
  color: white;
  letter-spacing: 0.1rem;
  text-align: left;
  cursor: pointer;
  margin: 0 0 0.75rem 0;
  padding-top: 0.5rem;
}

.aegis-footer-second-text div,
.aegis-footer-third-text div {
  display: flex;
  width: auto;
  gap: 0.25rem;
  margin: 0 0 0.75rem 0;
}

.aegis-footer-second-text span,
.aegis-footer-third-text span {
  font-weight: normal;
  font-size: 0.6rem;
  color: white;
  text-align: left;
  cursor: pointer;
}

.aegis-footer-second-text img,
.aegis-footer-third-text img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.aegis-footer-fourth-button {
  height: 1.75rem;
  width: auto;
  margin: 0rem 0rem 1rem 0rem;
}

.aegis-footer-fourth-button button {
  height: 100%;
  width: auto;
  background-image: linear-gradient(
    180deg,
    #79faf3 0%,
    #3c92f9 63%,
    #0f3cae 100%
  );
  border: transparent;
  border-radius: 50em;
  box-shadow: 0px 2px 5px -3px rgba(255, 255, 255, 255);
}

.aegis-footer-fourth-button span {
  font-weight: normal;
  font-size: 0.6rem;
  color: white;
  text-align: center;
  padding: 0rem 0.7rem;
  letter-spacing: 0.1rem;
}

.aegis-footer-extra-details {
  border-top: 0.05rem solid rgba(117, 124, 140, 0.5);
  height: auto;
  width: 100%;
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  max-width: 1280px;
}

.footer-container span {
  color: #757c8c;
  font-size: 0.5rem;
}

.footer-right-text {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

@media (min-width: 768px) {
  .aegis-footer-text {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 4rem 0rem 1.5rem 0rem;
  }

  .aegis-footer-first-logo {
    display: flex;
    width: auto;
    justify-content: start;
    padding-bottom: 1rem;
  }

  .aegis-footer-first-logo-small {
    padding-top: 0.7rem;
  }

  .aegis-footer-first-third-section {
    width: 60%;
    padding-bottom: 1rem;
    gap: 1rem;
    flex-direction: row;
  }

  .aegis-footer-fourth-button {
    height: 2.3rem;
    width: 20%;
    display: flex;
    justify-content: end;
    padding-bottom: 1rem;
  }
}
